In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

In [47]:
speed = pd.read_csv('Speed_Camera_Violations.csv')
crimes = pd.read_csv('Crimes_-_2001_to_present.csv')

In [48]:
speed.head()

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,ADJ_LAT,ADJ_LONG
0,10318 S INDIANAPOLIS,CHI120,4/10/19,81,1203645.368,1837056.145,41.707577,-87.529848,41.70,-87.52
1,11144 S VINCENNES,CHI023,4/10/19,26,1166993.613,1830711.217,41.691025,-87.664248,41.69,-87.66
2,11153 S VINCENNES,CHI022,4/10/19,9,1167028.753,1830593.601,41.690702,-87.664122,41.69,-87.66
3,1142 W IRVING PARK,CHI095,4/10/19,53,1167789.529,1926747.107,41.954541,-87.658573,41.95,-87.65
4,115 N OGDEN,CHI077,4/10/19,20,1166484.902,1900735.487,41.883192,-87.664115,41.88,-87.66

In [49]:
speed_ag = speed.groupby(['ADJ_LAT', 'ADJ_LONG'])['VIOLATIONS'].mean().reset_index()

In [50]:
speed_ag.head()

   ADJ_LAT  ADJ_LONG  VIOLATIONS
0    41.66    -87.63  144.247250
1    41.69    -87.71   17.538968
2    41.69    -87.66   15.456322
3    41.70    -87.68    3.750201
4    41.70    -87.52  100.892518

In [51]:
crimes['Count'] = 1
crimes_ag = crimes.groupby(['Adj_Lat', 'Adj_Long'])['Count'].sum().reset_index()

In [52]:
crimes_ag.head()

   Adj_Lat  Adj_Long  Count
0    41.64    -87.61    181
1    41.64    -87.60      2
2    41.64    -87.59      1
3    41.64    -87.57      6
4    41.64    -87.56      8

In [53]:
merged = pd.merge(crimes_ag, speed_ag, how = 'inner', left_on=['Adj_Lat', 'Adj_Long'], right_on=['ADJ_LAT', 'ADJ_LONG'])

In [54]:
merged.to_csv('crimes_speed_merged2.csv')